<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Weather Conditions</title>
    <link href="{{ url_for('static',filename='styles/style.css')}}" rel="stylesheet" />
    <!-- different than usual linking because flask uses this-->
</head>

<body>
    <h1>GET WEATHER CONDITIONS</h1>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter the City Name" />
        <button type="submit">SUBMIT</button>
    </form>
</body>

</html>